[connectivity]
# DDR -> TopPL.to_aie -> AIE PLIO, AIE PLIO -> TopPL.from_aie -> DDR
nk=TopPL:1:TopPL_1

stream_connect=TopPL_1.to_aie:ai_engine_0.stencil_in0
stream_connect=ai_engine_0.stencil_out0:TopPL_1.from_aie
