[connectivity]
# DDR -> PL stream shim -> AIE srad_fpga_v5 -> PL stream shim -> DDR.
nk=LoadFpgaV5:1:LoadFpgaV5_1
nk=StoreFpgaV5:1:StoreFpgaV5_1

sp=LoadFpgaV5_1.image:DDR
sp=StoreFpgaV5_1.output:DDR

stream_connect=LoadFpgaV5_1.out_params:ai_engine_0.fpga_v5_in_params
stream_connect=LoadFpgaV5_1.out_compute:ai_engine_0.fpga_v5_in_compute
stream_connect=ai_engine_0.fpga_v5_out_index:StoreFpgaV5_1.in_index
stream_connect=ai_engine_0.fpga_v5_out_value:StoreFpgaV5_1.in_value
