[connectivity]
# Full board path for tri_384:
# DDR raw 256x256x64 -> 16 PL repackers -> 128 AIE lanes -> 16 PL packers -> DDR.
# Each TopPL instance owns eight consecutive lanes.
nk=TopPL:16:TopPL_1.TopPL_2.TopPL_3.TopPL_4.TopPL_5.TopPL_6.TopPL_7.TopPL_8.TopPL_9.TopPL_10.TopPL_11.TopPL_12.TopPL_13.TopPL_14.TopPL_15.TopPL_16

stream_connect=TopPL_1.to_aie0:ai_engine_0.stencil_in0
stream_connect=ai_engine_0.stencil_out0:TopPL_1.from_aie0
stream_connect=TopPL_1.to_aie1:ai_engine_0.stencil_in1
stream_connect=ai_engine_0.stencil_out1:TopPL_1.from_aie1
stream_connect=TopPL_1.to_aie2:ai_engine_0.stencil_in2
stream_connect=ai_engine_0.stencil_out2:TopPL_1.from_aie2
stream_connect=TopPL_1.to_aie3:ai_engine_0.stencil_in3
stream_connect=ai_engine_0.stencil_out3:TopPL_1.from_aie3
stream_connect=TopPL_1.to_aie4:ai_engine_0.stencil_in4
stream_connect=ai_engine_0.stencil_out4:TopPL_1.from_aie4
stream_connect=TopPL_1.to_aie5:ai_engine_0.stencil_in5
stream_connect=ai_engine_0.stencil_out5:TopPL_1.from_aie5
stream_connect=TopPL_1.to_aie6:ai_engine_0.stencil_in6
stream_connect=ai_engine_0.stencil_out6:TopPL_1.from_aie6
stream_connect=TopPL_1.to_aie7:ai_engine_0.stencil_in7
stream_connect=ai_engine_0.stencil_out7:TopPL_1.from_aie7

stream_connect=TopPL_2.to_aie0:ai_engine_0.stencil_in8
stream_connect=ai_engine_0.stencil_out8:TopPL_2.from_aie0
stream_connect=TopPL_2.to_aie1:ai_engine_0.stencil_in9
stream_connect=ai_engine_0.stencil_out9:TopPL_2.from_aie1
stream_connect=TopPL_2.to_aie2:ai_engine_0.stencil_in10
stream_connect=ai_engine_0.stencil_out10:TopPL_2.from_aie2
stream_connect=TopPL_2.to_aie3:ai_engine_0.stencil_in11
stream_connect=ai_engine_0.stencil_out11:TopPL_2.from_aie3
stream_connect=TopPL_2.to_aie4:ai_engine_0.stencil_in12
stream_connect=ai_engine_0.stencil_out12:TopPL_2.from_aie4
stream_connect=TopPL_2.to_aie5:ai_engine_0.stencil_in13
stream_connect=ai_engine_0.stencil_out13:TopPL_2.from_aie5
stream_connect=TopPL_2.to_aie6:ai_engine_0.stencil_in14
stream_connect=ai_engine_0.stencil_out14:TopPL_2.from_aie6
stream_connect=TopPL_2.to_aie7:ai_engine_0.stencil_in15
stream_connect=ai_engine_0.stencil_out15:TopPL_2.from_aie7

stream_connect=TopPL_3.to_aie0:ai_engine_0.stencil_in16
stream_connect=ai_engine_0.stencil_out16:TopPL_3.from_aie0
stream_connect=TopPL_3.to_aie1:ai_engine_0.stencil_in17
stream_connect=ai_engine_0.stencil_out17:TopPL_3.from_aie1
stream_connect=TopPL_3.to_aie2:ai_engine_0.stencil_in18
stream_connect=ai_engine_0.stencil_out18:TopPL_3.from_aie2
stream_connect=TopPL_3.to_aie3:ai_engine_0.stencil_in19
stream_connect=ai_engine_0.stencil_out19:TopPL_3.from_aie3
stream_connect=TopPL_3.to_aie4:ai_engine_0.stencil_in20
stream_connect=ai_engine_0.stencil_out20:TopPL_3.from_aie4
stream_connect=TopPL_3.to_aie5:ai_engine_0.stencil_in21
stream_connect=ai_engine_0.stencil_out21:TopPL_3.from_aie5
stream_connect=TopPL_3.to_aie6:ai_engine_0.stencil_in22
stream_connect=ai_engine_0.stencil_out22:TopPL_3.from_aie6
stream_connect=TopPL_3.to_aie7:ai_engine_0.stencil_in23
stream_connect=ai_engine_0.stencil_out23:TopPL_3.from_aie7

stream_connect=TopPL_4.to_aie0:ai_engine_0.stencil_in24
stream_connect=ai_engine_0.stencil_out24:TopPL_4.from_aie0
stream_connect=TopPL_4.to_aie1:ai_engine_0.stencil_in25
stream_connect=ai_engine_0.stencil_out25:TopPL_4.from_aie1
stream_connect=TopPL_4.to_aie2:ai_engine_0.stencil_in26
stream_connect=ai_engine_0.stencil_out26:TopPL_4.from_aie2
stream_connect=TopPL_4.to_aie3:ai_engine_0.stencil_in27
stream_connect=ai_engine_0.stencil_out27:TopPL_4.from_aie3
stream_connect=TopPL_4.to_aie4:ai_engine_0.stencil_in28
stream_connect=ai_engine_0.stencil_out28:TopPL_4.from_aie4
stream_connect=TopPL_4.to_aie5:ai_engine_0.stencil_in29
stream_connect=ai_engine_0.stencil_out29:TopPL_4.from_aie5
stream_connect=TopPL_4.to_aie6:ai_engine_0.stencil_in30
stream_connect=ai_engine_0.stencil_out30:TopPL_4.from_aie6
stream_connect=TopPL_4.to_aie7:ai_engine_0.stencil_in31
stream_connect=ai_engine_0.stencil_out31:TopPL_4.from_aie7

stream_connect=TopPL_5.to_aie0:ai_engine_0.stencil_in32
stream_connect=ai_engine_0.stencil_out32:TopPL_5.from_aie0
stream_connect=TopPL_5.to_aie1:ai_engine_0.stencil_in33
stream_connect=ai_engine_0.stencil_out33:TopPL_5.from_aie1
stream_connect=TopPL_5.to_aie2:ai_engine_0.stencil_in34
stream_connect=ai_engine_0.stencil_out34:TopPL_5.from_aie2
stream_connect=TopPL_5.to_aie3:ai_engine_0.stencil_in35
stream_connect=ai_engine_0.stencil_out35:TopPL_5.from_aie3
stream_connect=TopPL_5.to_aie4:ai_engine_0.stencil_in36
stream_connect=ai_engine_0.stencil_out36:TopPL_5.from_aie4
stream_connect=TopPL_5.to_aie5:ai_engine_0.stencil_in37
stream_connect=ai_engine_0.stencil_out37:TopPL_5.from_aie5
stream_connect=TopPL_5.to_aie6:ai_engine_0.stencil_in38
stream_connect=ai_engine_0.stencil_out38:TopPL_5.from_aie6
stream_connect=TopPL_5.to_aie7:ai_engine_0.stencil_in39
stream_connect=ai_engine_0.stencil_out39:TopPL_5.from_aie7

stream_connect=TopPL_6.to_aie0:ai_engine_0.stencil_in40
stream_connect=ai_engine_0.stencil_out40:TopPL_6.from_aie0
stream_connect=TopPL_6.to_aie1:ai_engine_0.stencil_in41
stream_connect=ai_engine_0.stencil_out41:TopPL_6.from_aie1
stream_connect=TopPL_6.to_aie2:ai_engine_0.stencil_in42
stream_connect=ai_engine_0.stencil_out42:TopPL_6.from_aie2
stream_connect=TopPL_6.to_aie3:ai_engine_0.stencil_in43
stream_connect=ai_engine_0.stencil_out43:TopPL_6.from_aie3
stream_connect=TopPL_6.to_aie4:ai_engine_0.stencil_in44
stream_connect=ai_engine_0.stencil_out44:TopPL_6.from_aie4
stream_connect=TopPL_6.to_aie5:ai_engine_0.stencil_in45
stream_connect=ai_engine_0.stencil_out45:TopPL_6.from_aie5
stream_connect=TopPL_6.to_aie6:ai_engine_0.stencil_in46
stream_connect=ai_engine_0.stencil_out46:TopPL_6.from_aie6
stream_connect=TopPL_6.to_aie7:ai_engine_0.stencil_in47
stream_connect=ai_engine_0.stencil_out47:TopPL_6.from_aie7

stream_connect=TopPL_7.to_aie0:ai_engine_0.stencil_in48
stream_connect=ai_engine_0.stencil_out48:TopPL_7.from_aie0
stream_connect=TopPL_7.to_aie1:ai_engine_0.stencil_in49
stream_connect=ai_engine_0.stencil_out49:TopPL_7.from_aie1
stream_connect=TopPL_7.to_aie2:ai_engine_0.stencil_in50
stream_connect=ai_engine_0.stencil_out50:TopPL_7.from_aie2
stream_connect=TopPL_7.to_aie3:ai_engine_0.stencil_in51
stream_connect=ai_engine_0.stencil_out51:TopPL_7.from_aie3
stream_connect=TopPL_7.to_aie4:ai_engine_0.stencil_in52
stream_connect=ai_engine_0.stencil_out52:TopPL_7.from_aie4
stream_connect=TopPL_7.to_aie5:ai_engine_0.stencil_in53
stream_connect=ai_engine_0.stencil_out53:TopPL_7.from_aie5
stream_connect=TopPL_7.to_aie6:ai_engine_0.stencil_in54
stream_connect=ai_engine_0.stencil_out54:TopPL_7.from_aie6
stream_connect=TopPL_7.to_aie7:ai_engine_0.stencil_in55
stream_connect=ai_engine_0.stencil_out55:TopPL_7.from_aie7

stream_connect=TopPL_8.to_aie0:ai_engine_0.stencil_in56
stream_connect=ai_engine_0.stencil_out56:TopPL_8.from_aie0
stream_connect=TopPL_8.to_aie1:ai_engine_0.stencil_in57
stream_connect=ai_engine_0.stencil_out57:TopPL_8.from_aie1
stream_connect=TopPL_8.to_aie2:ai_engine_0.stencil_in58
stream_connect=ai_engine_0.stencil_out58:TopPL_8.from_aie2
stream_connect=TopPL_8.to_aie3:ai_engine_0.stencil_in59
stream_connect=ai_engine_0.stencil_out59:TopPL_8.from_aie3
stream_connect=TopPL_8.to_aie4:ai_engine_0.stencil_in60
stream_connect=ai_engine_0.stencil_out60:TopPL_8.from_aie4
stream_connect=TopPL_8.to_aie5:ai_engine_0.stencil_in61
stream_connect=ai_engine_0.stencil_out61:TopPL_8.from_aie5
stream_connect=TopPL_8.to_aie6:ai_engine_0.stencil_in62
stream_connect=ai_engine_0.stencil_out62:TopPL_8.from_aie6
stream_connect=TopPL_8.to_aie7:ai_engine_0.stencil_in63
stream_connect=ai_engine_0.stencil_out63:TopPL_8.from_aie7

stream_connect=TopPL_9.to_aie0:ai_engine_0.stencil_in64
stream_connect=ai_engine_0.stencil_out64:TopPL_9.from_aie0
stream_connect=TopPL_9.to_aie1:ai_engine_0.stencil_in65
stream_connect=ai_engine_0.stencil_out65:TopPL_9.from_aie1
stream_connect=TopPL_9.to_aie2:ai_engine_0.stencil_in66
stream_connect=ai_engine_0.stencil_out66:TopPL_9.from_aie2
stream_connect=TopPL_9.to_aie3:ai_engine_0.stencil_in67
stream_connect=ai_engine_0.stencil_out67:TopPL_9.from_aie3
stream_connect=TopPL_9.to_aie4:ai_engine_0.stencil_in68
stream_connect=ai_engine_0.stencil_out68:TopPL_9.from_aie4
stream_connect=TopPL_9.to_aie5:ai_engine_0.stencil_in69
stream_connect=ai_engine_0.stencil_out69:TopPL_9.from_aie5
stream_connect=TopPL_9.to_aie6:ai_engine_0.stencil_in70
stream_connect=ai_engine_0.stencil_out70:TopPL_9.from_aie6
stream_connect=TopPL_9.to_aie7:ai_engine_0.stencil_in71
stream_connect=ai_engine_0.stencil_out71:TopPL_9.from_aie7

stream_connect=TopPL_10.to_aie0:ai_engine_0.stencil_in72
stream_connect=ai_engine_0.stencil_out72:TopPL_10.from_aie0
stream_connect=TopPL_10.to_aie1:ai_engine_0.stencil_in73
stream_connect=ai_engine_0.stencil_out73:TopPL_10.from_aie1
stream_connect=TopPL_10.to_aie2:ai_engine_0.stencil_in74
stream_connect=ai_engine_0.stencil_out74:TopPL_10.from_aie2
stream_connect=TopPL_10.to_aie3:ai_engine_0.stencil_in75
stream_connect=ai_engine_0.stencil_out75:TopPL_10.from_aie3
stream_connect=TopPL_10.to_aie4:ai_engine_0.stencil_in76
stream_connect=ai_engine_0.stencil_out76:TopPL_10.from_aie4
stream_connect=TopPL_10.to_aie5:ai_engine_0.stencil_in77
stream_connect=ai_engine_0.stencil_out77:TopPL_10.from_aie5
stream_connect=TopPL_10.to_aie6:ai_engine_0.stencil_in78
stream_connect=ai_engine_0.stencil_out78:TopPL_10.from_aie6
stream_connect=TopPL_10.to_aie7:ai_engine_0.stencil_in79
stream_connect=ai_engine_0.stencil_out79:TopPL_10.from_aie7

stream_connect=TopPL_11.to_aie0:ai_engine_0.stencil_in80
stream_connect=ai_engine_0.stencil_out80:TopPL_11.from_aie0
stream_connect=TopPL_11.to_aie1:ai_engine_0.stencil_in81
stream_connect=ai_engine_0.stencil_out81:TopPL_11.from_aie1
stream_connect=TopPL_11.to_aie2:ai_engine_0.stencil_in82
stream_connect=ai_engine_0.stencil_out82:TopPL_11.from_aie2
stream_connect=TopPL_11.to_aie3:ai_engine_0.stencil_in83
stream_connect=ai_engine_0.stencil_out83:TopPL_11.from_aie3
stream_connect=TopPL_11.to_aie4:ai_engine_0.stencil_in84
stream_connect=ai_engine_0.stencil_out84:TopPL_11.from_aie4
stream_connect=TopPL_11.to_aie5:ai_engine_0.stencil_in85
stream_connect=ai_engine_0.stencil_out85:TopPL_11.from_aie5
stream_connect=TopPL_11.to_aie6:ai_engine_0.stencil_in86
stream_connect=ai_engine_0.stencil_out86:TopPL_11.from_aie6
stream_connect=TopPL_11.to_aie7:ai_engine_0.stencil_in87
stream_connect=ai_engine_0.stencil_out87:TopPL_11.from_aie7

stream_connect=TopPL_12.to_aie0:ai_engine_0.stencil_in88
stream_connect=ai_engine_0.stencil_out88:TopPL_12.from_aie0
stream_connect=TopPL_12.to_aie1:ai_engine_0.stencil_in89
stream_connect=ai_engine_0.stencil_out89:TopPL_12.from_aie1
stream_connect=TopPL_12.to_aie2:ai_engine_0.stencil_in90
stream_connect=ai_engine_0.stencil_out90:TopPL_12.from_aie2
stream_connect=TopPL_12.to_aie3:ai_engine_0.stencil_in91
stream_connect=ai_engine_0.stencil_out91:TopPL_12.from_aie3
stream_connect=TopPL_12.to_aie4:ai_engine_0.stencil_in92
stream_connect=ai_engine_0.stencil_out92:TopPL_12.from_aie4
stream_connect=TopPL_12.to_aie5:ai_engine_0.stencil_in93
stream_connect=ai_engine_0.stencil_out93:TopPL_12.from_aie5
stream_connect=TopPL_12.to_aie6:ai_engine_0.stencil_in94
stream_connect=ai_engine_0.stencil_out94:TopPL_12.from_aie6
stream_connect=TopPL_12.to_aie7:ai_engine_0.stencil_in95
stream_connect=ai_engine_0.stencil_out95:TopPL_12.from_aie7

stream_connect=TopPL_13.to_aie0:ai_engine_0.stencil_in96
stream_connect=ai_engine_0.stencil_out96:TopPL_13.from_aie0
stream_connect=TopPL_13.to_aie1:ai_engine_0.stencil_in97
stream_connect=ai_engine_0.stencil_out97:TopPL_13.from_aie1
stream_connect=TopPL_13.to_aie2:ai_engine_0.stencil_in98
stream_connect=ai_engine_0.stencil_out98:TopPL_13.from_aie2
stream_connect=TopPL_13.to_aie3:ai_engine_0.stencil_in99
stream_connect=ai_engine_0.stencil_out99:TopPL_13.from_aie3
stream_connect=TopPL_13.to_aie4:ai_engine_0.stencil_in100
stream_connect=ai_engine_0.stencil_out100:TopPL_13.from_aie4
stream_connect=TopPL_13.to_aie5:ai_engine_0.stencil_in101
stream_connect=ai_engine_0.stencil_out101:TopPL_13.from_aie5
stream_connect=TopPL_13.to_aie6:ai_engine_0.stencil_in102
stream_connect=ai_engine_0.stencil_out102:TopPL_13.from_aie6
stream_connect=TopPL_13.to_aie7:ai_engine_0.stencil_in103
stream_connect=ai_engine_0.stencil_out103:TopPL_13.from_aie7

stream_connect=TopPL_14.to_aie0:ai_engine_0.stencil_in104
stream_connect=ai_engine_0.stencil_out104:TopPL_14.from_aie0
stream_connect=TopPL_14.to_aie1:ai_engine_0.stencil_in105
stream_connect=ai_engine_0.stencil_out105:TopPL_14.from_aie1
stream_connect=TopPL_14.to_aie2:ai_engine_0.stencil_in106
stream_connect=ai_engine_0.stencil_out106:TopPL_14.from_aie2
stream_connect=TopPL_14.to_aie3:ai_engine_0.stencil_in107
stream_connect=ai_engine_0.stencil_out107:TopPL_14.from_aie3
stream_connect=TopPL_14.to_aie4:ai_engine_0.stencil_in108
stream_connect=ai_engine_0.stencil_out108:TopPL_14.from_aie4
stream_connect=TopPL_14.to_aie5:ai_engine_0.stencil_in109
stream_connect=ai_engine_0.stencil_out109:TopPL_14.from_aie5
stream_connect=TopPL_14.to_aie6:ai_engine_0.stencil_in110
stream_connect=ai_engine_0.stencil_out110:TopPL_14.from_aie6
stream_connect=TopPL_14.to_aie7:ai_engine_0.stencil_in111
stream_connect=ai_engine_0.stencil_out111:TopPL_14.from_aie7

stream_connect=TopPL_15.to_aie0:ai_engine_0.stencil_in112
stream_connect=ai_engine_0.stencil_out112:TopPL_15.from_aie0
stream_connect=TopPL_15.to_aie1:ai_engine_0.stencil_in113
stream_connect=ai_engine_0.stencil_out113:TopPL_15.from_aie1
stream_connect=TopPL_15.to_aie2:ai_engine_0.stencil_in114
stream_connect=ai_engine_0.stencil_out114:TopPL_15.from_aie2
stream_connect=TopPL_15.to_aie3:ai_engine_0.stencil_in115
stream_connect=ai_engine_0.stencil_out115:TopPL_15.from_aie3
stream_connect=TopPL_15.to_aie4:ai_engine_0.stencil_in116
stream_connect=ai_engine_0.stencil_out116:TopPL_15.from_aie4
stream_connect=TopPL_15.to_aie5:ai_engine_0.stencil_in117
stream_connect=ai_engine_0.stencil_out117:TopPL_15.from_aie5
stream_connect=TopPL_15.to_aie6:ai_engine_0.stencil_in118
stream_connect=ai_engine_0.stencil_out118:TopPL_15.from_aie6
stream_connect=TopPL_15.to_aie7:ai_engine_0.stencil_in119
stream_connect=ai_engine_0.stencil_out119:TopPL_15.from_aie7

stream_connect=TopPL_16.to_aie0:ai_engine_0.stencil_in120
stream_connect=ai_engine_0.stencil_out120:TopPL_16.from_aie0
stream_connect=TopPL_16.to_aie1:ai_engine_0.stencil_in121
stream_connect=ai_engine_0.stencil_out121:TopPL_16.from_aie1
stream_connect=TopPL_16.to_aie2:ai_engine_0.stencil_in122
stream_connect=ai_engine_0.stencil_out122:TopPL_16.from_aie2
stream_connect=TopPL_16.to_aie3:ai_engine_0.stencil_in123
stream_connect=ai_engine_0.stencil_out123:TopPL_16.from_aie3
stream_connect=TopPL_16.to_aie4:ai_engine_0.stencil_in124
stream_connect=ai_engine_0.stencil_out124:TopPL_16.from_aie4
stream_connect=TopPL_16.to_aie5:ai_engine_0.stencil_in125
stream_connect=ai_engine_0.stencil_out125:TopPL_16.from_aie5
stream_connect=TopPL_16.to_aie6:ai_engine_0.stencil_in126
stream_connect=ai_engine_0.stencil_out126:TopPL_16.from_aie6
stream_connect=TopPL_16.to_aie7:ai_engine_0.stencil_in127
stream_connect=ai_engine_0.stencil_out127:TopPL_16.from_aie7
