[connectivity]
# tri_16plio: 2 TopPL CU(s), each owns 8 consecutive AIE lanes.
nk=TopPL:2:TopPL_1.TopPL_2

stream_connect=TopPL_1.to_aie0:ai_engine_0.stencil_in0
stream_connect=ai_engine_0.stencil_out0:TopPL_1.from_aie0
stream_connect=TopPL_1.to_aie1:ai_engine_0.stencil_in1
stream_connect=ai_engine_0.stencil_out1:TopPL_1.from_aie1
stream_connect=TopPL_1.to_aie2:ai_engine_0.stencil_in2
stream_connect=ai_engine_0.stencil_out2:TopPL_1.from_aie2
stream_connect=TopPL_1.to_aie3:ai_engine_0.stencil_in3
stream_connect=ai_engine_0.stencil_out3:TopPL_1.from_aie3
stream_connect=TopPL_1.to_aie4:ai_engine_0.stencil_in4
stream_connect=ai_engine_0.stencil_out4:TopPL_1.from_aie4
stream_connect=TopPL_1.to_aie5:ai_engine_0.stencil_in5
stream_connect=ai_engine_0.stencil_out5:TopPL_1.from_aie5
stream_connect=TopPL_1.to_aie6:ai_engine_0.stencil_in6
stream_connect=ai_engine_0.stencil_out6:TopPL_1.from_aie6
stream_connect=TopPL_1.to_aie7:ai_engine_0.stencil_in7
stream_connect=ai_engine_0.stencil_out7:TopPL_1.from_aie7

stream_connect=TopPL_2.to_aie0:ai_engine_0.stencil_in8
stream_connect=ai_engine_0.stencil_out8:TopPL_2.from_aie0
stream_connect=TopPL_2.to_aie1:ai_engine_0.stencil_in9
stream_connect=ai_engine_0.stencil_out9:TopPL_2.from_aie1
stream_connect=TopPL_2.to_aie2:ai_engine_0.stencil_in10
stream_connect=ai_engine_0.stencil_out10:TopPL_2.from_aie2
stream_connect=TopPL_2.to_aie3:ai_engine_0.stencil_in11
stream_connect=ai_engine_0.stencil_out11:TopPL_2.from_aie3
stream_connect=TopPL_2.to_aie4:ai_engine_0.stencil_in12
stream_connect=ai_engine_0.stencil_out12:TopPL_2.from_aie4
stream_connect=TopPL_2.to_aie5:ai_engine_0.stencil_in13
stream_connect=ai_engine_0.stencil_out13:TopPL_2.from_aie5
stream_connect=TopPL_2.to_aie6:ai_engine_0.stencil_in14
stream_connect=ai_engine_0.stencil_out14:TopPL_2.from_aie6
stream_connect=TopPL_2.to_aie7:ai_engine_0.stencil_in15
stream_connect=ai_engine_0.stencil_out15:TopPL_2.from_aie7
